<div class="load_div" *ngIf="loader_general">
    <div class="three-body"   >
      <div class="three-body__dot" role="status"></div>
      <div class="three-body__dot" role="status"></div>
      <div class="three-body__dot" role="status"></div>
      </div>
    </div>
<!-- Page Wrapper -->
<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-6">
                    <h3 class="page-title">Configuracion</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="'/index'">Inicio</a>
                        </li>
                        <li class="breadcrumb-item active">{{page | titlecase}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card bg-white">
            <div class="card-header">
                <h5 class="card-title"> Importar Pliego Tarifario</h5>
            </div>
            <div class="card-body">
                <ul class="nav nav-tabs nav-tabs-top nav-justified">
                    <li class="nav-item">
                        <a type="button" class="nav-link active" data-bs-toggle="tab" data-bs-target="#inicio">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a type="button" class="nav-link" data-bs-toggle="tab" data-bs-target="#vad_ensa">Paso 01: IMPORTAR VAD ENSA</a>
                    </li>
                    <li class="nav-item">
                        <a type="button" class="nav-link" data-bs-toggle="tab" data-bs-target="#corte">Paso 02: Importar Costos de Conexion CMR</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent" aria-hidden="true">
                    <div class="tab-pane fade show active" id="inicio" role="tabpanel" aria-labelledby="inicio-tab">
                        <div class="card-body">
                           <p>Para iniciar el proceso de subida debe tener a la mano los siguientes documentos:</p>
                           <ul class="list-group">
                            <li>PASO 01: MOV ENSA : Mes a actual</li>
                            <li>PASO 01: MOV ENSA : Mes a anterior</li>
                            <li>PASO 02: COSTO DE CONEXION CMR: Mes a actual</li>
                            <li>PASO 02: COSTO DE CONEXION CMR: Mes a anterior</li>
                           </ul>
                           
                        </div>
                            
                    </div>
                    <div class="tab-pane fade" id="vad_ensa" role="tabpanel" aria-labelledby="vad_ensa-tab">
                        <div class="card-body">
                            <div class="input-group">
                                <input id="input-pliego" name="input-pliego" multiple type="file" class="form-control" (change)="selectFile($event)">
                            </div>
                            <button type="button" class="subirpliego" (click)="sendFilepliegoTarifario()">subir archivo</button>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="corte" role="tabpanel" aria-labelledby="corte-tab">
                        <div class="card-body">
                            <div class="input-group">
                                <input id="input-cargo" name="input-cargo" multiple type="file" (change)="selectFileCMR($event)">
                            </div>
                            <button type="button" class="subircargo" (click)="sendFileCRCM()">subir archivo</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- <div class="row justify-content-lg-center">
            <div class="row">
                <h5 class="sub-heading">Selecciona un Servicio</h5>
            </div>
            <div class="row">
                <div class="col-lg-2">
                    <div class="card" style="align-items: center;">
                        <div>
                            <a type="button" data-bs-toggle="modal" data-bs-target="#top-modal-pliego">
                                <img class="icon icon1" width="50" class="my-4" src="https://i.imgur.com/vZxfo9x.png">
                            </a>
                        </div>
                        <p class="sub-desc">Importar pliego tarifario</p>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="card" style="align-items: center;">
                        <div>
                            <a type="button" data-bs-toggle="modal" data-bs-target="#top-modal-corte">
                                <img class="icon icon1" width="50" class="my-4" src="https://i.imgur.com/vZxfo9x.png">
                            </a>
                        </div>
                        <p class="sub-desc">Importar cmr</p>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- <div id="top-modal-pliego" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-top">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="topModalLabel">Cargar pliego tarifario</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="file-loading">
                            <input id="input-pliego" name="input-pliego" multiple type="file" (change)="selectFile($event)">
                        </div>
                        <div id="kartik-file-errors"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="subirpliego" (click)="sendFilepliegoTarifario()">subir archivo</button>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- <div id="top-modal-corte" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-top">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="topModalLabel">Cargar costos de cargo</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="file-loading">
                            <input id="input-cargo" name="input-cargo" multiple type="file" (change)="selectFile($event)">

                        </div>
                        <div id="kartik-file-errors"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="subircargo" (click)="sendFileCRCM()">subir archivo</button>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>
<!-- /Page Wrapper -->