<div class="load_div" *ngIf="loader_general">
  <div class="three-body"   >
    <div class="three-body__dot" role="status"></div>
    <div class="three-body__dot" role="status"></div>
    <div class="three-body__dot" role="status"></div>
    </div>
  </div>
<div class="main-wrapper login-body">
  <div class="login-wrapper">
    <div class="container">
      <img
        class="img-fluid logo-dark mb-2"
        src="assets/img/ensa_logo.png"
        alt="Logo"
      />
      <div class="loginbox">
        <div class="login-right">
          <div class="login-right-wrap">
            <h1>Inicia Sesion</h1>

            <form [formGroup]="form" (ngSubmit)="submit(form.value)">
              <div class="form-group">
                <label class="form-control-label">Usuario</label>
                <input
                  class="form-control"
                  type="text"
                  formControlName="usuarioLogin"
                  id="usuarioLogin"
                  [ngClass]="{
                    'is-invalid': f['usuarioLogin'].touched && f['usuarioLogin'].invalid
                  }"
                />


                <div
                  *ngIf="f['usuarioLogin'].touched && f['usuarioLogin'].invalid"
                  class="invalid-feedback"
                >
                  <div
                    *ngIf="f['usuarioLogin'].errors && f['usuarioLogin'].errors['required']"
                  >
                    usuarioLogin es requerido.
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="form-control-label">Contraseña</label>
                <div class="pass-group">
                  <input
                    class="form-control"
                    [type]="Toggledata ? 'password' : 'text'"
                    type="password"
                    formControlName="password"
                    id="password"
                    [ngClass]="{
                      'is-invalid':
                        f['password'].touched && f['password'].invalid
                    }"
                  />
                  <span
                  [ngClass]="Toggledata == true ? 'fas toggle-password fa-eye-slash' : 'fas toggle-password fa-eye'"
                    (click)="iconLogle()"
                  ></span>
                  <div
                    *ngIf="f['password'].touched && f['password'].invalid"
                    class="invalid-feedback"
                  >
                    <div
                      *ngIf="
                        f['password'].errors && f['password'].errors['required']
                      "
                    >
                      la contraseña es requerida.
                    </div>
                  </div>
                  <span class="text-danger log_rch"></span>
                </div>
              </div>
              <div class="form-group">
                <div class="row">


                </div>
              </div>
              <button
                [disabled]="form.invalid"
                class="btn btn-lg btn-block btn-primary w-100"
                type="submit"
                [disabled]="loading"
              >

              Ingresar
              <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>

              </button>
              <div class="text-center dont-have">Copyright © 2023 <b>Clientes libres</b>. Todos los derechos reservados</div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Main Wrapper -->
