<!-- Page Wrapper -->
            <div class="page-wrapper">
                <div class="content container-fluid">

                    <div class="row justify-content-lg-center">
                        <div class="col-lg-10">

                            <!-- Page Header -->
                            <div class="page-header">
                                <div class="row">
                                    <div class="col">
                                        <h3 class="page-title">Histórico Customers</h3>
                                        <ul class="breadcrumb">
                                            <li class="breadcrumb-item"><a [routerLink]="'/index'">Dashboard</a></li>
                                            <li class="breadcrumb-item active">Profile</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- /Page Header -->

                            <div class="text-center mb-5">
                                <h2>Charles Hafner</h2>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <span>COMPLEJO AGROINDUSTRIAL BETA - 2</span>
                                    </li>
                                </ul>
                            </div>

                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="card-title d-flex justify-content-between">
                                                <span>Perfil</span>
                                            </h5>
                                        </div>
                                        <div class="card-body">
                                            <ul class="list-unstyled mb-0">
                                                <li class="py-0">
                                                    <small class="text-dark">Suministro</small>
                                                </li>
                                                <li>
                                                    4256889565
                                                </li>
                                                <li class="pt-2 pb-0">
                                                    <small class="text-dark">Dirección</small>
                                                </li>
                                                <li>
                                                   MZ. Z 0002 Pblo Moche
                                                </li>
                                                <li class="pt-2 pb-0">
                                                    <small class="text-dark">Direción postal</small>
                                                </li>
                                                <li>
                                                </li>

                                                <li class="pt-2 pb-0">
                                                    <small class="text-dark">Nombre</small>
                                                </li>
                                                <li>
                                                    Agriculture Lane,<br>

                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-lg-8">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="card-title">Histórico</h5>
                                        </div>
                                        <div class="card-body card-body-height">
                                            <ul class="activity-feed">
                                                <li class="feed-item">
                                                    <div class="feed-date">Enero 16</div>
                                                    <span class="feed-text"><a [routerLink]="'/profile'">Brian Johnson</a> has paid the invoice <a [routerLink]="'/invoices/view-invoice'">"#DF65485"</a></span>
                                                </li>
                                                <li class="feed-item">
                                                    <div class="feed-date">Febrero 7</div>
                                                    <span class="feed-text"><a [routerLink]="'/profile'">Marie Canales</a>  has accepted your estimate <a [routerLink]="'/view-estimate'">#GTR458789</a></span>
                                                </li>
                                                <li class="feed-item">
                                                    <div class="feed-date">Marzo 24</div>
                                                    <span class="feed-text">New expenses added <a [routerLink]="'/expenses/expenses-list'">"#TR018756</a></span>
                                                </li>
                                                <li class="feed-item">
                                                    <div class="feed-date">Abril 24</div>
                                                    <span class="feed-text">New expenses added <a [routerLink]="'/expenses/expenses-list'">"#TR018756</a></span>
                                                </li>
                                                <li class="feed-item">
                                                    <div class="feed-date">Mayo 24</div>
                                                    <span class="feed-text">New expenses added <a [routerLink]="'/expenses/expenses-list'">"#TR018756</a></span>
                                                </li>
                                                <li class="feed-item">
                                                    <div class="feed-date">Junio 24</div>
                                                    <span class="feed-text">New expenses added <a [routerLink]="'/expenses/expenses-list'">"#TR018756</a></span>
                                                </li>
                                                <li class="feed-item">
                                                    <div class="feed-date">Julio 24</div>
                                                    <span class="feed-text">New expenses added <a [routerLink]="'/expenses/expenses-list'">"#TR018756</a></span>
                                                </li>
                                                <li class="feed-item">
                                                    <div class="feed-date">Agosto 27</div>
                                                    <span class="feed-text"><a [routerLink]="'/profile'">Robert Martin</a> gave a review for <a [routerLink]="'/product-details'">"Dell Laptop"</a></span>
                                                </li>
                                                <li class="feed-item">
                                                    <div class="feed-date">Septiembre 14</div>
                                                    <span class="feed-text">New customer registered <a [routerLink]="'/profile'">"Tori Carter"</a></span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /Page Wrapper -->
