<!-- Page Wrapper -->
<div class="page-wrapper">
  <div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="page-title">Importacion de Archivos</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="'/index'">Index</a></li>
            <li class="breadcrumb-item active">Importacion de Archivos</li>
          </ul>
        </div>
        <div class="col-auto">
          <a type="button" data-bs-toggle="modal" data-bs-target="#top-modal" class="btn btn-info me-1">
            <i class="fas fa-plus"></i>
          </a>
          <a type="button" data-bs-toggle="modal" data-bs-target="#suministroModal" class="btn btn-warning me-1">
            <i class="fa fa-edit"></i>
          </a>
          <a class="btn btn-primary filter-btn" href="javascript:void(0);" id="filter_search">
            <i class="fas fa-filter"></i>
          </a>
        </div>
      </div>
    </div>
    <!-- /Page Header -->
    <!-- Top modal content -->
    <div id="top-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-top">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="topModalLabel">Cargar archivo</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="file-loading">
              <input id="input-21" name="input-21[]" multiple type="file" (change)="selectFile($event)">

            </div>
            <div id="kartik-file-errors"></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="subir" (click)="sendFile()">subir archivo</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- Search Filter -->
    <div id="filter_inputs" class="card filter-card">
      <div class="card-body pb-0">
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label>Customer:</label>
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>Category:</label>
              <select class="form-select">
                <option>Select Category</option>
                <option>Advertising</option>
                <option>Marketing</option>
                <option>Software</option>
                <option>Travel</option>
              </select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>From</label>
              <div class="cal-icon">
                <input type="text" class="form-control" name="dp">
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>To</label>
              <div class="cal-icon">
                <input type="text" class="form-control" name="dp">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Search Filter -->


    <app-parametro></app-parametro>
    <hr>


    <div class="row">
      <div class="col-sm-12">
        <div class="card card-table">
          <div class="card-body">
            <div class="table-responsive">
              <table datatable class="table table-center table-hover">
                <thead class="thead-light">
                  <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>FechaImportacion</th>
                    <th>Cantidad Lecturas</th>
                    <th class="text-end">estado</th>
                    <th class="text-end">Action</th>
                  </tr>
                </thead>
                <tbody *ngFor="let expeses of cadena;let i = index">
                  <tr *ngFor="let expese of expeses;let i = index">
                    <td>{{expese.id}}</td>
                    <td>{{expese.nombre}}</td>
                    <td>{{expese.fechaImportacion | date : 'dd MMM yyyy'}}</td>
                    <td>{{expese.cantLect}}</td>
                    <td class="text-end" [ngSwitch]="expese.estado" >                      
                      <span *ngSwitchCase="2" 
                      class="badge badge-pill bg-danger-light" >Error2</span>               
                    
                      <span *ngSwitchCase="5" 
                      class="badge badge-pill bg-success-light" >Procesado</span>
                                     
                      <span *ngSwitchCase="4" 
                      class="badge badge-pill bg-danger-light" >Archivo ya ha sido procesado</span>
                                      
                      <span *ngSwitchCase="3" 
                        class="badge badge-pill bg-danger-light" >CLIENTE NO REGISTRADO</span>

                      <span *ngSwitchCase="1" 
                          class="badge badge-pill bg-warning-light"  >Procesando Calculos</span>
                   
                      <span *ngSwitchCase="0" 
                            class="badge badge-pill bg-danger-light"  >Pendiente</span>
                    </td>
                    <td class="text-end">
                      <a (click)="tempId = expese.id" data-bs-toggle="modal" data-bs-target="#delete_Expenses"
                        href="javascript:void(0);" class="btn btn-sm btn-white text-danger"><i
                          class="far fa-trash-alt me-1"></i>Delete</a>
                    </td>

                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Page Wrapper -->
<!-- Delete Tax Modal -->
<div class="modal custom-modal fade" id="delete_Expenses" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modal-icon text-center mb-3">
          <i class="fas fa-trash-alt text-danger"></i>
        </div>
        <div class="modal-text text-center">
          <h2>Eliminar Fichero</h2>
          <p>¿Estas seguro de eliminar el fichero?</p>
        </div>
      </div>
      <div class="modal-footer text-center">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="eliminarFichero(tempId)">Eliminar</button>
      </div>
    </div>
  </div>
</div>
<!-- /Delete Tax Modal -->
