<!-- Header -->
			<div class="header header-one">

				<!-- Logo -->
				<div class="header-left header-left-one">
					<a [routerLink]="'/'" class="logo">
						<img src="assets/img/gescom logo1.png" alt="Logo">
					</a>
					<a [routerLink]="'/'" class="white-logo">
						<img src="assets/img/logo-white.png" alt="Logo">
					</a>
					<a [routerLink]="'/'" class="logo logo-small">
						<img src="assets/img/gescom logo mini.png" alt="Logo" width="30" height="30">
					</a>
				</div>
				<!-- /Logo -->

				<!-- Sidebar Toggle -->
				<a href="javascript:void(0);" (click)="burgerMenu()" id="toggle_btn">
					<i class="fas fa-bars"></i>
				</a>
				<!-- /Sidebar Toggle -->

				<!-- Search -->
				<div class="top-nav-search">
					<form>
						<input type="text" class="form-control" placeholder="Search here">
						<button class="btn" type="submit"><i class="fas fa-search"></i></button>
					</form>
				</div>
				<!-- /Search -->

				<!-- Mobile Menu Toggle -->
				<a class="mobile_btn" id="mobile_btn">
					<i class="fas fa-bars"></i>
				</a>
				<!-- /Mobile Menu Toggle -->

				<!-- Header Menu -->
				<ul class="nav nav-tabs user-menu">
				

					<!-- User Menu -->
					<li class="nav-item dropdown has-arrow main-drop" id="dropdown">
						<a href="javascript:void(0)" class="dropdown-toggle nav-link" aria-controls="collapseExample2" data-bs-toggle="dropdown">
							<span class="user-img">
								<img src="assets/img/profiles/avatar-01.jpg" alt="">
								<span class="status online"></span>
							</span>
							<span>Admin</span>
						</a>
						<div class="dropdown-menu" id="collapseExample2">
							<a class="dropdown-item" [routerLink]="'/profile'"><i data-feather="user" class="me-1"></i> Profile</a>
							<a class="dropdown-item" [routerLink]="'/setting/settings'"><i data-feather="settings" class="me-1"></i> Settings</a>
							<a class="dropdown-item" (click)="Logout()"><i data-feather="log-out" class="me-1"></i> Logout</a>
						</div>
					</li>
					<!-- /User Menu -->

				</ul>
				<!-- /Header Menu -->

			</div>
			<!-- /Header -->

<!-- Sidebar -->
<div class="sidebar" id="sidebar">
	<div class="sidebar-inner slimscroll">
		<div id="sidebar-menu" class="sidebar-menu">
			<ul>
				<li class="menu-title"><span>Main</span></li>
				<li [class.active]="base === 'customers'">
					<a [routerLink]="'/customers/customers-list'"><i data-feather="users"></i> <span>Clientes</span></a>
				</li>				
				<li class="submenu" [class.active]="page === 'invoices'">
					<a href="javascript:void(0)"><i data-feather="clipboard"></i> <span> Invoices</span> <span class="menu-arrow"></span></a>
					<ul>
						
						<li><a [routerLink]="'invoices/invoice-grid'" [class.active]="page === 'invoice-grid'">Invoices Grid</a></li>
					
						<li><a [routerLink]="'invoices/invoices-settings'" [class.active]="page === 'invoices-settings'">Invoices Settings</a></li>
					</ul>
				</li>			
				<li [class.active]="base === 'payments'">
					<a [routerLink]="'/payments/payments-list'"><i data-feather="credit-card"></i> <span>Facturas</span></a>
				</li>
				<li [class.active]="base === 'expenses'">
					<a [routerLink]="'/expenses/expenses-list'"><i data-feather="package"></i> <span>Ficheros</span></a>
				</li>
			
				
				<li [class.active]="base === 'setting'">
					<a [routerLink]="'setting/settings'"><i data-feather="settings"></i> <span>Settings</span></a>
				</li>
				<li class="submenu" [class.active]="base === 'application'">
					<a href="javascript:void(0)"><i data-feather="grid"></i> <span> Application</span> <span class="menu-arrow"></span></a>
					<ul>
						<li><a [routerLink]="'/application/chat'" [class.active]="page === 'chat'">Chat</a></li>
						<li><a [routerLink]="'/application/calender'" [class.active]="page === 'calender'">Calendar</a></li>
						<li><a [routerLink]="'/application/email'" [class.active]="page === 'email'">Email</a></li>
					</ul>
				</li>
				<li class="menu-title">
					<span>Pages</span>
				</li>
				<li [class.active]="base === 'profile'">
					<a [routerLink]="'/profile'"><i data-feather="user-plus"></i> <span>Profile</span></a>
				</li>
				<li class="submenu" [class.active]="base === 'login-form' || base === 'register' || base === 'forgot-pass' || base === 'lock-screen'">
					<a href="javascript:void(0)"><i data-feather="lock"></i> <span> Authentication </span> <span class="menu-arrow"></span></a>
					<ul>
						<li><a [routerLink]="'login-form'" [class.active]="base === 'login-form'"> Login </a></li>
						<li><a [routerLink]="'register'" [class.active]="base === 'register'"> Register </a></li>
						<li><a [routerLink]="'forgot-pass'" [class.active]="base === 'forgot-pass'"> Forgot Password </a></li>
						<li><a [routerLink]="'lock-screen'" [class.active]="base === 'lock-screen'"> Lock Screen </a></li>
					</ul>
				</li>
				<li class="submenu" [class.active]="base === 'error-first' || base === 'error-second'">
					<a href="javascript:void(0)"><i data-feather="alert-octagon"></i> <span> Error Pages </span> <span class="menu-arrow"></span></a>
					<ul>
						<li><a [routerLink]="'error-first'" [class.active]="base === 'error-first'">404 Error </a></li>
						<li><a [routerLink]="'error-second'" [class.active]="base === 'error-second'">500 Error </a></li>
					</ul>
				</li>
				<li [class.active]="base === 'users'">
					<a [routerLink]="'/users/users-list'"><i data-feather="user"></i> <span>Users</span></a>
				</li>
				<li [class.active]="base === 'blank-page'">
					<a [routerLink]="'blank-page'"><i data-feather="file"></i> <span>Blank Page</span></a>
				</li>
				
	
				
			</ul>
		</div>
	</div>
</div>
<!-- /Sidebar -->

