<!-- Header -->
			<div class="header header-one">

				<!-- Logo -->
				<div class="header-left header-left-one">
					<a [routerLink]="'/'" class="logo">
						<img src="assets/img/logo.png" alt="Logo">
					</a>
					<a [routerLink]="'/'" class="white-logo">
						<img src="assets/img/logo-white.png" alt="Logo">
					</a>
					<a [routerLink]="'/'" class="logo logo-small">
						<img src="assets/img/logo-small.png" alt="Logo" width="30" height="30">
					</a>
				</div>
				<!-- /Logo -->

				<!-- Sidebar Toggle -->
				<a href="javascript:void(0);" (click)="burgerMenu()" id="toggle_btn">
					<i class="fas fa-bars"></i>
				</a>
				<!-- /Sidebar Toggle -->

				<!-- Search -->
				<div class="top-nav-search">
					<form>
						<input type="text" class="form-control" placeholder="Search here">
						<button class="btn" type="submit"><i class="fas fa-search"></i></button>
					</form>
				</div>
				<!-- /Search -->

				<!-- Mobile Menu Toggle -->
				<a class="mobile_btn" id="mobile_btn">
					<i class="fas fa-bars"></i>
				</a>
				<!-- /Mobile Menu Toggle -->

				<!-- Header Menu -->
				<ul class="nav nav-tabs user-menu">
				

					<!-- User Menu -->
					<li class="nav-item dropdown has-arrow main-drop" id="dropdown">
						<a href="javascript:void(0)" class="dropdown-toggle nav-link" aria-controls="collapseExample2" data-bs-toggle="dropdown">
							<span class="user-img">
								<img src="assets/img/profiles/avatar-01.jpg" alt="">
								<span class="status online"></span>
							</span>
							<span>Admin</span>
						</a>
						<div class="dropdown-menu" id="collapseExample2">
							<a class="dropdown-item" [routerLink]="'/profile'"><i data-feather="user" class="me-1"></i> Profile</a>
							<a class="dropdown-item" [routerLink]="'/setting/settings'"><i data-feather="settings" class="me-1"></i> Settings</a>
							<a class="dropdown-item" (click)="Logout()"><i data-feather="log-out" class="me-1"></i> Logout</a>
						</div>
					</li>
					<!-- /User Menu -->

				</ul>
				<!-- /Header Menu -->

			</div>
			<!-- /Header -->

<!-- Sidebar -->
<div class="sidebar" id="sidebar">
	<div class="sidebar-inner slimscroll">
		<div id="sidebar-menu" class="sidebar-menu">
			<ul>
				<li class="menu-title"><span>Main</span></li>
				<li [class.active]="base === 'customers'">
					<a [routerLink]="'/customers/customers-list'"><i data-feather="users"></i> <span>Clientes</span></a>
				</li>				
				<li class="submenu" [class.active]="page === 'invoices'">
					<a href="javascript:void(0)"><i data-feather="clipboard"></i> <span> Invoices</span> <span class="menu-arrow"></span></a>
					<ul>
						
						<li><a [routerLink]="'invoices/invoice-grid'" [class.active]="page === 'invoice-grid'">Invoices Grid</a></li>
					
						<li><a [routerLink]="'invoices/invoices-settings'" [class.active]="page === 'invoices-settings'">Invoices Settings</a></li>
					</ul>
				</li>			
				<li [class.active]="base === 'payments'">
					<a [routerLink]="'/payments/payments-list'"><i data-feather="credit-card"></i> <span>Facturas</span></a>
				</li>
				<li [class.active]="base === 'expenses'">
					<a [routerLink]="'/expenses/expenses-list'"><i data-feather="package"></i> <span>Ficheros</span></a>
				</li>
			
				
				<li [class.active]="base === 'setting'">
					<a [routerLink]="'setting/settings'"><i data-feather="settings"></i> <span>Settings</span></a>
				</li>
				<li class="submenu" [class.active]="base === 'application'">
					<a href="javascript:void(0)"><i data-feather="grid"></i> <span> Application</span> <span class="menu-arrow"></span></a>
					<ul>
						<li><a [routerLink]="'/application/chat'" [class.active]="page === 'chat'">Chat</a></li>
						<li><a [routerLink]="'/application/calender'" [class.active]="page === 'calender'">Calendar</a></li>
						<li><a [routerLink]="'/application/email'" [class.active]="page === 'email'">Email</a></li>
					</ul>
				</li>
				<li class="menu-title">
					<span>Pages</span>
				</li>
				<li [class.active]="base === 'profile'">
					<a [routerLink]="'/profile'"><i data-feather="user-plus"></i> <span>Profile</span></a>
				</li>
				<li class="submenu" [class.active]="base === 'login-form' || base === 'register' || base === 'forgot-pass' || base === 'lock-screen'">
					<a href="javascript:void(0)"><i data-feather="lock"></i> <span> Authentication </span> <span class="menu-arrow"></span></a>
					<ul>
						<li><a [routerLink]="'login-form'" [class.active]="base === 'login-form'"> Login </a></li>
						<li><a [routerLink]="'register'" [class.active]="base === 'register'"> Register </a></li>
						<li><a [routerLink]="'forgot-pass'" [class.active]="base === 'forgot-pass'"> Forgot Password </a></li>
						<li><a [routerLink]="'lock-screen'" [class.active]="base === 'lock-screen'"> Lock Screen </a></li>
					</ul>
				</li>
				<li class="submenu" [class.active]="base === 'error-first' || base === 'error-second'">
					<a href="javascript:void(0)"><i data-feather="alert-octagon"></i> <span> Error Pages </span> <span class="menu-arrow"></span></a>
					<ul>
						<li><a [routerLink]="'error-first'" [class.active]="base === 'error-first'">404 Error </a></li>
						<li><a [routerLink]="'error-second'" [class.active]="base === 'error-second'">500 Error </a></li>
					</ul>
				</li>
				<li [class.active]="base === 'users'">
					<a [routerLink]="'/users/users-list'"><i data-feather="user"></i> <span>Users</span></a>
				</li>
				<li [class.active]="base === 'blank-page'">
					<a [routerLink]="'blank-page'"><i data-feather="file"></i> <span>Blank Page</span></a>
				</li>
				<li [class.active]="base === 'maps-vector'">
					<a [routerLink]="'maps-vector'"><i data-feather="map-pin"></i> <span>Vector Maps</span></a>
				</li>
				<li class="menu-title">
					<span>UI Interface</span>
				</li>
				<!-- <li [class.active]="base === 'components'">
					<a [routerLink]="'components'"><i data-feather="layers"></i> <span>Components</span></a>
				</li> -->
				<li class="submenu" 
				[class.active] = "base === 'basic-ui' || 
								  base === 'base-ui' && page === 'alerts' || 
								  base === 'base-ui' && page === 'accordions' ||
								  base === 'base-ui' && page === 'avatar' ||
								  base === 'base-ui' && page === 'badges' ||
								  base === 'base-ui' && page === 'buttons' ||
								  base === 'base-ui' && page === 'button-group' ||
								  base === 'base-ui' && page === 'breadcrumb' ||
								  base === 'base-ui' && page === 'cards' ||
								  base === 'base-ui' && page === 'carousel' ||
								  base === 'base-ui' && page === 'dropdowns' ||
								  base === 'base-ui' && page === 'grid' ||
								  base === 'base-ui' && page === 'images' ||
								  base === 'base-ui' && page === 'lightbox' ||
								  base === 'base-ui' && page === 'media' ||
								  base === 'base-ui' && page === 'modals' ||
								  base === 'base-ui' && page === 'offcanvas' ||
								  base === 'base-ui' && page === 'pagination'||
								  base === 'base-ui' && page === 'popover' ||
								  base === 'base-ui' && page === 'progress-bars' ||
								  base === 'base-ui' && page === 'placeholders' ||
								  base === 'base-ui' && page === 'rangeslider' ||
								  base === 'base-ui' && page === 'spinner' ||
								  base === 'base-ui' && page === 'sweetalerts' ||
								  base === 'base-ui' && page === 'tabs' ||
								  base === 'base-ui' && page === 'toasts' ||
								  base === 'base-ui' && page === 'tooltip' ||
								  base === 'base-ui' && page === 'typography' ||
								  base === 'base-ui' && page === 'video'
			">
				<a href="javascript:void(0)"><i class="fab fa-get-pocket"></i> <span>Base UI </span> <span class="menu-arrow"></span></a>
				<ul>
					<li>
						<a 
							[routerLink]="'base-ui/alerts'" 
								[class.active] = "base === 'base-ui' && page === 'alerts'">
							Alerts
						</a>
					</li>                                    
					<li>
						<a 
							[routerLink]="'base-ui/accordions'" 
								[class.active] = "base === 'base-ui' && page === 'accordions'">
							Accordions
						</a>
					</li>
					<li>
						<a 
							[routerLink]="'base-ui/avatar'" 
								[class.active] = "base === 'base-ui' && page === 'avatar'">
							Avatar
						</a>
					</li> 
					<li>
						<a 
							[routerLink]="'base-ui/badges'" 
								[class.active] = "base === 'base-ui' && page === 'badges'">
							Badges
						</a>
					</li> 
					<li>
						<a 
							[routerLink]="'base-ui/buttons'" 
								[class.active] = "base === 'base-ui' && page === 'buttons'">
							Buttons
						</a>
					</li> 
					<li>
						<a 
							[routerLink]="'base-ui/button-group'" 
								[class.active] = "base === 'base-ui' && page === 'button-group'">
							Button Group
						</a>
					</li>                                   
					<li>
						<a 
							[routerLink]="'base-ui/breadcrumb'" 
								[class.active] = "base === 'base-ui' && page === 'breadcrumb'">
							Breadcrumb
						</a>
					</li>   
					<li>
						<a 
							[routerLink]="'base-ui/cards'" 
								[class.active] = "base === 'base-ui' && page === 'cards'">
							Cards
						</a>
					</li>   
					<li>
						<a 
							[routerLink]="'base-ui/carousel'" 
								[class.active] = "base === 'base-ui' && page === 'carousel'">
							Carousel
						</a>
					</li>                                   
					<li>
						<a 
							[routerLink]="'base-ui/dropdowns'" 
								[class.active] = "base === 'base-ui' && page === 'dropdowns'">
							Dropdowns
						</a>
					</li>     
					<li>
						<a 
							[routerLink]="'base-ui/grid'" 
								[class.active] = "base === 'base-ui' && page === 'grid'">
							Grid
						</a>
					</li>     
					<li>
						<a 
							[routerLink]="'base-ui/images'" 
								[class.active] = "base === 'base-ui' && page === 'images'">
							Images
						</a>
					</li>  
					<li>
						<a 
							[routerLink]="'base-ui/lightbox'" 
								[class.active] = "base === 'base-ui' && page === 'lightbox'">
							Lightbox
						</a>
					</li>
					<li>
						<a 
							[routerLink]="'base-ui/media'" 
								[class.active] = "base === 'base-ui' && page === 'media'">
							Media
						</a>
					</li>                 
					<li>
						<a 
							[routerLink]="'base-ui/modals'" 
								[class.active] = "base === 'base-ui' && page === 'modals'">
							Modals
						</a>
					</li> 
					<li>
						<a 
							[routerLink]="'base-ui/offcanvas'" 
								[class.active] = "base === 'base-ui' && page === 'offcanvas'">
							Offcanvas
						</a>
					</li> 
					<li>
						<a 
							[routerLink]="'base-ui/pagination'" 
								[class.active] = "base === 'base-ui' && page === 'pagination'">
							Pagination
						</a>
					</li> 
					<li>
						<a 
							[routerLink]="'base-ui/popover'" 
								[class.active] = "base === 'base-ui' && page === 'popover'">
							Popover
						</a>
					</li>                      
					<li>
						<a 
							[routerLink]="'base-ui/progress-bars'" 
								[class.active] = "base === 'base-ui' && page === 'progress-bars'">
							Progress Bars
						</a>
					</li>   
					<li>
						<a 
							[routerLink]="'base-ui/placeholders'" 
								[class.active] = "base === 'base-ui' && page === 'placeholders'">
							Placeholders
						</a>
					</li> 
					<li>
						<a 
							[routerLink]="'base-ui/rangeslider'" 
								[class.active] = "base === 'base-ui' && page === 'rangeslider'">
							Range Slider
						</a>
					</li>                                  
					<li>
						<a 
							[routerLink]="'base-ui/spinner'" 
								[class.active] = "base === 'base-ui' && page === 'spinner'">
							Spinner
						</a>
					</li>  
					<li>
						<a 
							[routerLink]="'base-ui/sweetalerts'" 
								[class.active] = "base === 'base-ui' && page === 'sweetalerts'">
							Sweetalerts
						</a>
					</li>  
					<li>
						<a 
							[routerLink]="'base-ui/tabs'" 
								[class.active] = "base === 'base-ui' && page === 'tabs'">
							Tabs
						</a>
					</li>  
					<li>
						<a 
							[routerLink]="'base-ui/toasts'" 
								[class.active] = "base === 'base-ui' && page === 'toasts'">
							Toasts
						</a>
					</li>  
					<li>
						<a 
							[routerLink]="'base-ui/tooltip'" 
								[class.active] = "base === 'base-ui' && page === 'tooltip'">
							Tooltip
						</a>
					</li>  
					<li>
						<a 
							[routerLink]="'base-ui/typography'" 
								[class.active] = "base === 'base-ui' && page === 'typography'">
							Typography
						</a>
					</li>  
					<li>
						<a 
							[routerLink]="'base-ui/video'" 
								[class.active] = "base === 'base-ui' && page === 'video'">
							Videos
						</a>
					</li>  
				</ul>
				</li>
				<li class="submenu"
				[class.active] = "base === 'elements' ||
									base === 'elements' && page === 'ribbon' ||
									base === 'elements' && page === 'clipboards' || 
									base === 'elements' && page === 'drap-drop' ||
									base === 'elements' && page === 'rating' ||
									base === 'elements' && page === 'text-editor' ||
									base === 'elements' && page === 'scrollbar' ||
									base === 'elements' && page === 'notification' ||
									base === 'elements' && page === 'sticky-note' || 
									base === 'elements' && page === 'timeline' ||
									base === 'elements' && page === 'horizontal' ||
									base === 'elements' && page === 'form-wizard'
				">
					<a href="#"><i data-feather="box"></i> <span>Elements </span> <span class="menu-arrow"></span></a>
					<ul>
						<li>
							<a [routerLink]="'elements/ribbon'"
								[class.active] = "base === 'elements' && page === 'ribbon' ">
								Ribbon
							</a>
						</li>
						<li>
							<a [routerLink]="'elements/clipboards'"
								[class.active] = "base === 'elements' && page === 'clipboards' ">
								Clipboard
							</a>
						</li>
						<li>
							<a [routerLink]="'elements/drap-drop'"
								[class.active] = "base === 'elements' && page === 'drap-drop' ">
								Drag & Drop
							</a>
						</li>
						<li>
							<a [routerLink]="'elements/rating'"
								[class.active] = "base === 'elements' && page === 'rating' ">
								Rating
							</a>
						</li>
						<li>
							<a [routerLink]="'elements/text-editor'"
								[class.active] = "base === 'elements' && page === 'text-editor' ">
								Text Editor
							</a>
						</li>
						<li>
							<a [routerLink]="'elements/counter'"
								[class.active] = "base === 'elements' && page === 'counter' ">
								Counter
							</a>
						</li>
						<li>
							<a [routerLink]="'elements/scrollbar'"
								[class.active] = "base === 'elements' && page === 'scrollbar' ">
								Scrollbar
							</a>
						</li>
						<li>
							<a [routerLink]="'elements/notification'"
								[class.active] = "base === 'elements' && page === 'notification' ">
								Notification
							</a>
						</li>
						<li>
							<a [routerLink]="'elements/sticky-note'"
								[class.active] = "base === 'elements' && page === 'sticky-note' ">
								Sticky Note
							</a>
						</li>
						<li>
							<a [routerLink]="'elements/timeline'"
								[class.active] = "base === 'elements' && page === 'timeline' ">
								Timeline
							</a>
						</li>
						<li>
							<a [routerLink]="'elements/horizontal'"
								[class.active] = "base === 'elements' && page === 'horizontal' ">
								Horizontal Timeline
							</a>
						</li>
						<li>
							<a [routerLink]="'elements/form-wizard'"
								[class.active] = "base === 'elements' && page === 'form-wizard' ">
								Form Wizard
							</a>
						</li>
					</ul>
				</li>
				<li class="submenu"
					[class.active] = "base === 'charts' ||
									base === 'charts' && page === 'apexcharts' ||
									base === 'charts' && page === 'chartjs' || 
									base === 'charts' && page === 'morrischarts' ||
									base === 'charts' && page === 'flotcharts' ||
									base === 'charts' && page === 'peitycharts' ||
									base === 'charts' && page === 'c3charts' 
				">
					<a href="#"><i data-feather="bar-chart-2"></i> <span> Charts </span> <span class="menu-arrow"></span></a>
					<ul>
						<li>
							<a [routerLink]="'charts/apexcharts'"
								[class.active] = "base === 'charts' && page === 'apexcharts' ">
								Apex Charts
							</a>
						</li>
						<li>
							<a [routerLink]="'charts/chartjs'"
								[class.active] = "base === 'charts' && page === 'chartjs' ">
								Chart Js
							</a>
						</li>
						<li>
							<a [routerLink]="'charts/morrischarts'"
								[class.active] = "base === 'charts' && page === 'morrischarts' ">
								Morris Charts
							</a>
						</li>
						<li>
							<a [routerLink]="'charts/flotcharts'"
								[class.active] = "base === 'charts' && page === 'flotcharts' ">
								Flot Charts
							</a>
						</li>
						<li>
							<a [routerLink]="'charts/peitycharts'"
								[class.active] = "base === 'charts' && page === 'peitycharts' ">
								Peity Charts
							</a>
						</li>
						<li>
							<a [routerLink]="'charts/c3charts'"
								[class.active] = "base === 'charts' && page === 'c3charts' ">
								C3 Charts
							</a>
						</li>
					</ul>
				</li>
				<li class="submenu"
					[class.active] = "base === 'icons' || 
								  base === 'icons' && page === 'fontawesome' || 
								  base === 'icons' && page === 'feathers' ||
								  base === 'icons' && page === 'ionic' ||
								  base === 'icons' && page === 'material' ||
								  base === 'icons' && page === 'pe7' ||
								  base === 'icons' && page === 'simpleine' ||
								  base === 'icons' && page === 'themify' ||
								  base === 'icons' && page === 'weather' ||
								  base === 'icons' && page === 'typicon' ||
								  base === 'icons' && page === 'flag'
			">
					<a href="#"><i data-feather="award"></i> <span> Icons </span> <span class="menu-arrow"></span></a>
					<ul>
						<li>
							<a [routerLink]="'icons/fontawesome'"
								[class.active] = "base === 'icons' && page === 'fontawesome' ">
								Fontawesome Icons
							</a>
						</li>
						<li>
							<a [routerLink]="'icons/feathers'"
								[class.active] = "base === 'icons' && page === 'feathers' ">
								Feather Icons
							</a>
						</li>
						<li>
							<a [routerLink]="'icons/ionic'"
								[class.active] = "base === 'icons' && page === 'ionic' ">
								Ionic Icons
							</a>
						</li>
						<li>
							<a [routerLink]="'icons/material'"
								[class.active] = "base === 'icons' && page === 'material' ">
								Material Icons
							</a>
						</li>
						<li>
							<a [routerLink]="'icons/pe7'"
								[class.active] = "base === 'icons' && page === 'pe7' ">
								pe7 Icons
							</a>
						</li>
						<li>
							<a [routerLink]="'icons/simpline'"
								[class.active] = "base === 'icons' && page === 'simpline' ">
								Simpleline Icons
							</a>
						</li>
						<li>
							<a [routerLink]="'icons/themify'"
								[class.active] = "base === 'icons' && page === 'themify' ">
								Themify Icons
							</a>
						</li>
						<li>
							<a [routerLink]="'icons/weather'"
								[class.active] = "base === 'icons' && page === 'weather' ">
								Weather Icons
							</a>
						</li>
						<li>
							<a [routerLink]="'icons/typicon'"
								[class.active] = "base === 'icons' && page === 'typicon' ">
								Typicon Icons
							</a>
						</li>
						<li>
							<a [routerLink]="'icons/flag'"
								[class.active] = "base === 'icons' && page === 'flag' ">
								Flag Icons
							</a>
						</li>
					</ul>
				</li>
				<li class="submenu" [class.active]="base === 'basic-input' || base === 'input-groups' || base === 'horizondal-form' || base === 'vertical-form' ||base === 'form-mask' || base === 'form-validation' || base === 'form-select2' || base === 'form-fileupload' ">
					<a href="javascript:void(0)"><i data-feather="columns"></i> <span> Forms </span> <span class="menu-arrow"></span></a>
					<ul>
						<li><a [routerLink]="'basic-input'" [class.active]="base === 'basic-input'">Basic Inputs </a></li>
						<li><a [routerLink]="'input-groups'" [class.active]="base === 'input-groups'">Input Groups </a></li>
						<li><a [routerLink]="'horizondal-form'" [class.active]="base === 'horizondal-form'">Horizontal Form </a></li>
						<li><a [routerLink]="'vertical-form'" [class.active]="base === 'vertical-form'"> Vertical Form </a></li>
						<li><a [routerLink]="'form-mask'" [class.active]="base === 'form-mask'"> Form Mask </a></li>
						<li><a [routerLink]="'form-validation'" [class.active]="base === 'form-validation'"> Form Validation </a></li>
						<li><a [routerLink]="'form-select2'" [class.active]="base === 'form-select2'"> Form Select2 </a></li>
						<li><a [routerLink]="'form-fileupload'" [class.active]="base === 'form-fileupload'"> Form Upload </a></li>
					</ul>
				</li>
				<li class="submenu" [class.active]="base === 'basic-tables' || base === 'admin-data-table'">
					<a href="javascript:void(0)"><i data-feather="layout"></i> <span> Tables </span> <span class="menu-arrow"></span></a>
					<ul>
						<li><a [routerLink]="'basic-tables'" [class.active]="base === 'basic-tables'">Basic Tables </a></li>
						<li><a [routerLink]="'admin-data-table'" [class.active]="base === 'admin-data-table'">Data Table </a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- /Sidebar -->

