<div class="load_div" *ngIf="loader_general">
  <div class="spinner-border avatar-lg loader_spinner" role="status"></div>
</div>
<div class="page-wrapper">
  <div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="page-title">Facturas</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="'/index'">Inicio</a></li>
            <li class="breadcrumb-item active">Facturas</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /Page Header -->
    <div class="row">
      <div class="col-sm-12">
        <div class="card card-table">
          <div class="card-body">
            <div class="table-responsive">
              <table datatable class="table table-center table-hover mb-3">
                <thead class="thead-light">
                  <tr>
                    <th>Id</th>
                    <th>Suministro</th>
                    <th>Cliente</th>
                    <th>Tarifa cliente</th>
                    <th class="text-start">total facturado</th>
                    <th class="text-start">Periodo factura</th>
                    <th class="text-end">Acción</th>
                  </tr>
                </thead>
                <tbody *ngFor="let payments of cadena">
                  <tr *ngFor="let payment of payments">
                    <td><a>{{payment.facturacionId}}</a></td>

                    <td>{{payment.suministro}}</td>
                    <td>{{payment.razonSocial}}</td>
                    <td>{{payment.tarifa}}</td>
                    <td class="text-start">{{payment.total}}</td>
                    <td class="text-start">{{payment.pfactura}}</td>
                    <td class="text-end">
                      <div class="dropdown dropdown-action">
                        <a href="javascript:void(0)" class="action-icon dropdown-toggle" data-bs-toggle="dropdown"
                          aria-expanded="false"><i class="fas fa-ellipsis-h"></i></a>
                        <div class="dropdown-menu dropdown-menu-right">
                          <a class="dropdown-item" [routerLink]="['/invoices/view-invoice/',payment.clienteId]">
                            <i class="far fa-eye me-1"></i> Ver
                          </a>
                          <a class="dropdown-item" [routerLink]="['/invoices/report-e/',payment.clienteId]">
                            <i class="far fa-eye me-1"></i> ReporteNGC
                          </a>

                        </div>
                      </div>
                    </td>


                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
