<div class="page-wrapper">
  <div class="content container-fluid">
    <!-- Page Header -->
    <div class="page-header">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="page-title">Cerrar proceso</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item">
              <a [routerLink]="'/index'">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Cerrar proceso</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row justify-content-lg-center">
      <div class="col-lg-7 grid-item-1">

          <h1 class="main-heading" style="transform: translate(0px, 0px); opacity: 1;">
            Proceso de <span>facturación.</span>
            <br>
            (2022/12)
          </h1>
          <p class="info-text" style="transform: translate(0px, 0px); opacity: 1;">
            Al cerrar el proceso la data actual se pasará al histórico
y dará inicio a un nuevo mes del proceso comercial.
          </p>

          <div class="btn_wrapper" style="transform: translate(0px, 0px); opacity: 1;">
            <button class="btn view_more_btn">
              CERRAR PROCESO <i class="fa fa-arrow-right"></i>
            </button>

            <!-- <button class="btn documentation_btn">documentation</button> -->
          </div>













      </div>
      <div class="col-lg-5">
        <div class="team_img_wrapper">
          <img src="assets/img/team.svg" alt="">
        </div>


      </div>
    </div>
  </div>
</div>
