<div class="page-wrapper">
    <div class="content container-fluid">
        <!-- Page Header -->
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">REPORTE</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="'/index'">Dashboard</a></li>
                        <li class="breadcrumb-item">Payments</li>
                        <li class="breadcrumb-item active">Reporte</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        <div class="row justify-content-center">
            <div class="col-xl-10">
                <div class="card invoice-info-card">
                    <div class="card-body">
                        <div class="invoice-item invoice-item-one">
                          <div class="row">
                            <div class="col-auto">
                                <a [routerLink]="" class="btn btn-primary me-2">
                                  <i class="fas fa-plus"></i>
                                </a>
                            </div>
                          </div>
                          <div class="row">
                            <h4>REPORTE DE FACTURA : 282822_TONGORRAPE_202208</h4>
                          </div>
                          <div class="row">
                              <table class="table table-sm">
                                  <thead>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <th scope="row">1</th><td>Energía Activa</td>
                                      <td>173445.45</td><td>0</td><td>0</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">15</th><td>Energia Activa HP</td>
                                      <td>23329.81</td><td>0</td><td>0</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">16</th><td>Energia Activa FP</td>
                                      <td>150115.64</td><td>0</td><td>0</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">17</th><td>Energia Reactiva</td>
                                    <td>35673.99</td><td>0</td><td>0</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">24</th><td>Pot. Activa Generación HP</td>
                                      <td>470.41</td><td>0</td><td>0</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">25</th><td>Pot. Activa Generación FP</td>
                                      <td>518.96</td><td>0</td><td>0</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">351</th><td>Gener-Energía Activa Hp</td>
                                      <td>173445.45</td><td>0</td><td>0</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">352</th><td>Gener-Energía Activa Fp</td>
                                      <td>23329.81</td><td>0</td><td>0</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">349</th><td>Generación-Potencia en Hp</td>
                                      <td>150115.64</td><td>0</td><td>0</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">350</th><td>Generación-Potencia en Fp</td>
                                    <td>35673.99</td><td>0</td><td>0</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">354</th><td>Gener-Exc Potenc Fp</td>
                                      <td>470.41</td><td>0</td><td>0</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">353</th><td>Gener-Exc Potenc Hp</td>
                                      <td>518.96</td><td>0</td><td>0</td>
                                    </tr>
                                  </tbody>
                                </table>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



